@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-primary-50:  #fdf8ec;
  --color-primary-100: #f9edcc;
  --color-primary-200: #f3d98b;
  --color-primary-300: #ecc354;
  --color-primary-400: #e5b63d;
  --color-primary-500: #ddaa33;
  --color-primary-600: #b08929;
  --color-primary-700: #876820;
  --color-primary-800: #5d4716;
  --color-primary-900: #3c2d0d;
  --color-primary-950: #221a07;
}
